<br/>
<h2>
    {% load static %}
    &nbsp;&nbsp;&nbsp;<img src="{% static 'bro/images/bro-logo.jpeg' %}" alt="Bro logo" width="110px"></h2>
</h2>
<button type="button" class="btn btn-secondary" onclick="window.location.href='/admin/bro/bro/add/'">Add new instance
</button>

<br/><br/>
{% if instances.bro %}
<div class="container-fluid">
    <div class="row">
        <div class="center-block">
            <div class="list-group">
                {% load status %}
                {% for instance in instances.bro %}
                <a class="list-group-item list-group-item-{{ instance.id|status }} list-group-item-action"
                   href="{% url 'bro:probe_index' instance.id %}">{{ instance }} - {{ instance.host }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
<br/>
